<div class="modal fade form-modal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" ng-cloak>{{::$ctrl.headerCaption}}</h4>
			</div>
			<div class="modal-body">
				<form class="account-form" name="$ctrl.accountForm" novalidate>
					<div class="form-group">
						<label for="account-name" class="control-label">Name:</label>
							<input
								type="text"
								ng-model="$ctrl.account.name"
								class="form-control"
								id="account-name"
								name ="accountName"
								ng-minlength="3"
								ng-maxlength="15"
								ng-pattern="/^[a-zA-Z\s]*$/"
								ng-required="true">
						<span ng-show="$ctrl.accountForm.accountName.$touched && $ctrl.accountForm.accountName.$error.required">Field is required</span>
						<span ng-show="$ctrl.accountForm.accountName.$touched && $ctrl.accountForm.accountName.$error.minlength">Minimum 3 characters</span>
						<span ng-show="$ctrl.accountForm.accountName.$touched && $ctrl.accountForm.accountName.$error.maxlength">Maximum 15 characters</span>
						<span ng-show="$ctrl.accountForm.accountName.$touched && $ctrl.accountForm.accountName.$error.pattern">Only characters accepted</span>
					</div>
					<div class="form-group">
						<label for="account-age" class="control-label">Age:</label>
						<input
							type="number"
							ng-model="$ctrl.account.age"
							name ="accountAge"
							class="form-control"
							id="account-age"
							ng-min="18"
							ng-max="100"
							ng-required="true">
						<span ng-show="$ctrl.accountForm.accountAge.$touched && $ctrl.accountForm.accountAge.$error.required">Field is required</span>
						<span ng-show="$ctrl.accountForm.accountAge.$touched && $ctrl.accountForm.accountAge.$error.min">Minimum 18</span>
						<span ng-show="$ctrl.accountForm.accountAge.$touched && $ctrl.accountForm.accountAge.$error.max">Maximum 100</span>

					</div>
					<div class="form-group">
						<label for="account-gender" class="control-label">Gender:</label>
						<select class="form-control" id="account-gender" name="accountGender" ng-model="$ctrl.account.gender">
							<option selected="selected" value="male">male</option>
							<option value="female">female</option>
						</select>
					</div>
					<div class="form-group">
						<label for="account-number" class="control-label">Phone number:</label>
						<input
							type="text"
							ng-model="$ctrl.account.phoneNumber"
							name="accountPhoneNumber"
							class="form-control"
							id="account-number"
							placeholder="+380(34)343-34-34"
							mask="+999(99)999-99-99"
							restrict="reject"
							ng-required="true">
						<span ng-show="$ctrl.accountForm.accountPhoneNumber.$touched && $ctrl.accountForm.accountPhoneNumber.$error.required">Field is required</span>
						<span ng-show="$ctrl.accountForm.accountPhoneNumber.$touched && $ctrl.accountForm.accountPhoneNumber.$error.mask">Invalid phone number</span>
					</div>
					<div class="form-group">
						<label for="account-email" class="control-label">Email:</label>
						<input
							type="text"
							ng-model="$ctrl.account.email"
							name="accountEmail"
							class="form-control"
							id="account-email"
							ng-pattern="/^([a-z]+[a-z0-9._]*[a-z]+|[a-z]+)@([a-z]+[a-z0-9._]*[a-z]+|[a-z]+)\.[a-z]{2,3}$/"
							ng-required="true">
						<span ng-show="$ctrl.accountForm.accountEmail.$touched && $ctrl.accountForm.accountEmail.$error.required">Field is required</span>
						<span ng-show="$ctrl.accountForm.accountEmail.$touched && $ctrl.accountForm.accountEmail.$error.pattern">Invalid email address</span>
					</div>
					<div class="form-group">
						<label for="account-login" class="control-label">Login:</label>
						<input
							type="text"
							ng-model="$ctrl.account.login"
							class="form-control"
							id="account-login"
							name ="accountLogin"
							ng-minlength="5"
							ng-maxlength="15"
							ng-pattern="/^[a-zA-Z\s]*$/"
							ng-required="true">
						<span ng-show="$ctrl.accountForm.accountLogin.$touched && $ctrl.accountForm.accountLogin.$error.required">Field is required</span>
						<span ng-show="$ctrl.accountForm.accountLogin.$touched && $ctrl.accountForm.accountLogin.$error.minlength">Minimum 5 characters</span>
						<span ng-show="$ctrl.accountForm.accountLogin.$touched && $ctrl.accountForm.accountLogin.$error.maxlength">Maximum 15 characters</span>
						<span ng-show="$ctrl.accountForm.accountLogin.$touched && $ctrl.accountForm.accountLogin.$error.pattern">Only characters accepted</span>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal" data-target=".form-modal">Close</button>
				<button type="button" class="btn btn-primary" ng-attr-data-dismiss="{{$ctrl.getDataDismiss()}}" data-target=".form-modal" ng-click="$ctrl.submit()" ng-cloak>{{::$ctrl.buttonCaption}}</button>
			</div>
		</div>
	</div>
</div>
