<div><h1 >Home page</h1></div>

<div class="row show-grid" ng-repeat="account in listCtrl.accounts track by account.id">
	<a role="button" ui-sref="details({id:account.id})">
		<div class="col-md-1"><img ng-src="{{::account.avatarUrl}}"></div>
		<div class="col-md-1" ng-cloak>{{::account.id}}</div>
		<div class="col-md-2" ng-cloak>{{::account.login}}</div>
		<div class="col-md-3" ng-cloak>{{::account.name}}</div>
		<div class="col-md-3" ng-cloak>{{::account.email}}</div>
	</a>
</div>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".form-modal">Add</button>

	<modal-component
		header-caption="Add account"
		button-caption="Add"
		on-submit="listCtrl.add(acc)">
	</modal-component>
