<div class="modal fade delete-prompt" id="deletePrompt" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" ng-cloak>{{::$ctrl.header}}</h4>
			</div>
			<div class="modal-body">
				<p ng-cloak>{{::$ctrl.content}}</p>
				<button type="button" class="btn btn-default" data-dismiss="modal" data-target=".delete-prompt">No</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal" data-target=".delete-prompt" ng-click="$ctrl.onDelete()">Yes</button>
			</div>
		</div>
	</div>
</div>
