@import '_reset';

$default-margin: 5px;
$error-color: red;

.account-form input.ng-invalid.ng-touched {
	border-color: $error-color;
}

.details-block span {
	font-weight: bold;
}

.details-block .details-field {
	margin: $default-margin;
	display: inline-block;
}
