<div class="details-block">
	<div class="row"><span>Name:</span><div class="details-field">{{detailsCtrl.account.name}}</div></div>
	<div class="row"><span>Login:</span><div class="details-field">{{detailsCtrl.account.login}}</div></div>
	<div class="row"><span>Age:</span><div class="details-field">{{detailsCtrl.account.age}}</div></div>
	<div class="row"><span>Gender:</span><div class="details-field">{{detailsCtrl.account.gender}}</div></div>
	<div class="row"><span>Phone number:</span><div class="details-field">{{detailsCtrl.account.phoneNumber}}</div></div>
</div>

<button type="button" class="btn btn-default" data-toggle="modal" data-target=".form-modal"  ng-click="listCtrl.onEditButtonClick(account.id)">Modify</button>
<button type="button" class="btn btn-default" data-toggle="modal" data-target=".delete-prompt" ng-click="listCtrl.onDeleteButtonClick(account.id)">Delete</button>

<highchart config="detailsCtrl.chartConfig"></highchart>

<modal-component
	account="detailsCtrl.account"
	header-caption="Modify account"
	button-caption="Modify"
	on-submit="detailsCtrl.edit(acc)">
</modal-component>

<delete-prompt-component
	delete="detailsCtrl.delete()"
	header="Deleting account"
	content="Delete account?">
</delete-prompt-component>
